body {
	font-style: ariel;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	width: 100%;
	height: 30px;
	background-color: lightgrey;
	padding: 15px;
}

a {
	float: right;
	list-style: none;
	font-size: 24px;
	padding-right: 60px;
}

a:hover {
	color: purple;
}

input {
	width: 375px;
	height: 35px;
	font-size: 24px;
}

button {
	width: 35px;
	height: 35px;
}

img {
	width: 25px;
	height: 25px;
}

.title {
	float: left;
	font-size: 24px;
	padding-left: 50px;
}

.main {
	position: relative;
	float: left;
	display: inline-block;
	top: 130px;
	left: 130px;
}

.outerbox {
	position: fixed;
	top: 250px;
	left: 130px;
	width: 450px;
	height: 50px;
	font-size: 0px;
}

.box1 {
	font-size: 20px;
	display: inline-block;
	left: 130px;
	border: 1px solid black;
	width: 100px;
	height: 40px;
	text-align: center;
	padding-top: 20px;
}

.box2 {
	font-size: 20px;
	display: inline-block;
	left: 230px;
	border: 1px solid black;
	width: 200px;
	height: 40px;
	text-align: center;
	padding-top: 20px;
}

.box3 {
	font-size: 20px;
	display: inline-block;
	left: 430px;
	border: 1px solid black;
	width: 100px;
	height: 40px;
	text-align: center;
	padding-top: 20px;
}















